body {
    /* background-color: rgb(150, 204, 235);*/
    background-color:  rgb(233, 233, 233) ;
}


h2 {
  color: #990033;
  margin-bottom: 50px;
}

button {
  background-color: #990033;
  color: white;
  padding: 10px;
  text-decoration: none;
  border:0;
  margin-top:2rem;
  
}


.mainContainer {
  text-align: center;
  margin:auto;
  border: 2px solid #990033;
  background-color:  #dadada ;
 
}

.squareContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 3rem;
  /*width: 70%;*/
  
}

 

.quadrato {
  color: white;
  background-color: gray;
  width: 150px;
  height: 150px;
  padding-top: 50px;
}


